/*RESET*/
html{
    box-sizing: border-box;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
*,*::after,*::before{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
body{
    font-size: 1.6rem;
    text-align: center;
}
a{
    text-decoration: none;
    color: black;
}

/*Estilos HEADER*/
.header{
    background-color: #FFB830;
}
.header__title{
    padding: 1rem;
}

/*Estilos PANEL*/
.panel{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .3);
    z-index: 1;
    transition: all .4s ease-in-out;
}
.panel--oculto{
    transform: translateX(-100vw);
    opacity: 0;
    visibility: hidden;
}
.menu,
.menu__item{
    display: flex;
}
.menu{
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}
.menu__item{
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    transition: background-color .3s ease-in-out;
}
.menu__item:hover{
    background-color: rgba(255, 184, 48, .5)
}

/*Estilos BOTON MENU*/
.boton{
    position: fixed;
    bottom: 2vh;
    right: 2vw;
    z-index: 2;
    width: 8rem;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #FFB830;
}
.boton--scroll{
    right: calc(9rem + 2vw);
    font-size: 3rem;
    border: none;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.boton--scroll:hover{
    opacity: .6;
}
.boton--oculto{
    opacity: 0;
    visibility: hidden;
}

/*Estilos Main*/
.seccion{
    min-height: 100vh;
}
.seccion__instruction{
    padding: 2rem;
}
.seccion__title{
    padding: 1rem;
}

/*Estilos RELOJ*/
.reloj__display{
    padding: 2rem;
}

/*Estilos TECLADO*/
.campo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 50rem;
    margin: 0 auto;
    background-color: #444;
}
.pelota{
    width: 8rem;
    height: 8rem;
    background-color: #FFB830;
    border-radius: 50%;
}

/*Estilos CONTADOR*/
.contador{
    padding: 2rem;
}